body{
padding:0;
margin:0;


}

.wrapper{
  width:80px;
  height:80px;
  background:#fff;
  border-radius:50px;
  transition: width 0.5s;
  overflow: hidden;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

}

.hero.animate{
  width:650px;

}

.hero input{
  position:absolute;
  top:10px;
  left:10px;
  width: calc(100% -80px);
  height:60px;
  border:none;
  outline:none;
  font-size:35px;
  padding:0 10px;
  color:#262626;
  letter-spacing:3px;
  opacity: .5;

}


.hero {


  height:600px;
  background-image:linear-gradient(rgba(147, 249, 80, 0.5), rgba(0, 0, 0, 0.5)),url(https://secure.meetupstatic.com/photos/event/4/7/3/2/600_481878226.jpeg);
/*https://www.rollingstone.com/movies/movie-features/zoe-kravitz-naked-cover-story-746684/*/

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;



  /*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image*/

}



.title {

  font-family: 'Nanum Myeongjo', serif;
  /*https://fonts.google.com/?selection.family=Nanum+Myeongjo*/

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-300%);
  color: black;
  position:fixed;

}


.knowledge {
  width:800px;
  height:800px;
  position:relative;
  cursor: pointer;
  border: 10px solid white;
}

.knowledge:hover .post-s{
  width: 800px;


}
.knowledge img {
  display:block;
  width: 800px;
  height:800px;
  border: 10px;

}

.post-s{
  width: 0px;
  height: 800px;
  background: white;
  position: absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.7s ease;
}

.post-s p {
  font-family: 'Nanum Myeongjo', serif;
  color:black;
  font-size:18px;
  border: 6px solid white;
  padding:10px 30px;

}
.introduction{
  height:500px;
  padding-left: 50
}

.img-fluid{
  max-width:100%;
  height:auto;
}
 .container-2{
     border: 20px solid #FFFFFF;

 }

 .container-2 div {
  /*border:1px #ccc solid;*/
  padding:60px;

}

.container-2 h3 {
  font-family: 'Love Ya Like A Sister', cursive;
  color:white;
  font-size: 30px;

}

h3:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.container-2 {
  display:flex;
  flex-basis:10%;
  flex-wrap:wrap;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  background-image: url(https://cdn.nohat.cc/thumb/f/720/comrawpixel380183.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color:white;

}


.target{
  flex:1;

}

.target_word{
  font-size:80px;
  font-family: 'Rock Salt', cursive;
}

.birth{
  flex:1;
  height: 500px;
  background-image: url(pictures/birth_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.eyes{
  width:600px;
  height:600px;
  position:relative;
  cursor: pointer;

}
.relationships {

font-family: 'Anton', sans-serif;
  height: 500px;
  font-size: 100px;
  padding-top: 10%;
  padding-left: 10%

}


p{
color:black;

}

p:hover {
  text-decoration: underline;
  text-decoration-color: black;

}



.contact div {
    padding:60px;
}


.contact{
  display:flex;
  background-color: black;
  height:300px;

  flex-basis:5%;
  flex-wrap:wrap;
  justify-content: space-between;


  color:rgba(147, 249, 80);

}


.mental {
  display:flex;
  /*flex-basis:10%;
  flex-wrap:wrap;*/
  /*justify-content: space-between;*/
  background-color: red;


}


.mental_health_words p {
  font-family: 'Mansalva', cursive;
  color:black;
  font-size: 100px;

}
.contact h2{

  font-size: 28px;
  color:green;
  font-family: 'Raleway', san s-serif;
}

.contact h3{

  font-size: 28px;
  color:green;
  font-family: 'Raleway', sans-serif;
}

.contact input {
color:black;
border-bottom: 1px solid black;


}

.contact h4 {
  font-size: 20px;
}
